<!DOCTYPE html>
	<html>
		<head>
			<link rel="icon" href = "/JohnKim08.github.io/pictures/UVAIcon.png">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/SoftwareDesigns">Software Designs</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
					<a href="mailto:jjk3crr@virginia.edu">
					<img src="/JohnKim08.github.io/pictures/Gmail-logo.png" alt="GMAIL Logo" width="60" height="50">
					</a>
					<a href="https://github.com/JohnKim08"> 
					<img src="/JohnKim08.github.io/pictures/newgithublogo.jpg" alt= "Github" width="60" height = "50">
					</a>
					<a href="https://www.linkedin.com/in/john-kim-b4335a1b2/">
					<img src="/JohnKim08.github.io/pictures/linkedinlogo.png" alt = "LinkedIn" width ="55" height ="45">
					</a>
				</ul>
			</footer>
		</body>
	</html>
