<!DOCTYPE html>
	<html>
		<head>
			<link rel="icon" href = "/pictures/UVAIcon.png">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body style="background-color:rgb(240, 248, 255 );">
			<nav>
	    		<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/SoftwareDesign.html">Personal Projects</a></li>
					<li><a href="/Resume.html"> Resume</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
					<a href="mailto:jjk3crr@virginia.edu">
					<img src="/pictures/Gmail-logo.png" alt="GMAIL Logo" width="60" height="50">
					</a>
					<a href="https://github.com/JohnKim08"> 
					<img src="/pictures/newgithublogo.jpg" alt= "Github" width="60" height = "50">
					</a>
					<a href="https://www.linkedin.com/in/john-kim-b4335a1b2/">
					<img src="/pictures/linkedinlogo.png" alt = "LinkedIn" width ="60" height ="50">
					</a>
				</ul>
			</footer>
		</body>
	</html>
