---
layout: default
title: John J. Kim
---
<div class="project">
	<h1>NBAOpinion</h1>
	<p>This is a personal project developed by me and another developer <a href ="https://github.com/ahmedabukar">Ahmed Abukar</a></p>
	<p>We set out to create a web tool that would allow us to utilize web scraping as well as User Interface construction skills to analyze how fan bases of NBA teams view players on their roster. </p>

	<ul>
		<li>Utilized the Python webframework Flask</li>
		<li>Natural Language Processing and Sentiment Analysis were used</li>
		<li>Reddit's API was used in order to access Reddit Posts</li>
	</ul>
</div>
<body> 
<div id ="like_button_container"> </div>
	<script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
  	<script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>

  <!-- Load our React component. -->
  	<script src="like_button.js"></script>
</body>